<!DOCTYPE html>
<html>
<head>
    <title>Login and Signup</title>
    <style>
        body {
            text-align: center;
        }

        h1 {
            margin-top: 150px;
        }

        ul {
            list-style: none;
            padding: 0;
        }

        li {
            margin-bottom: 10px;
        }

        a {
            display: inline-block;
            padding: 10px 20px;
            background-color: #da1b60;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <h1>Welcome to the Login and Signup Page</h1>
    <p>Choose an option:</p>
    <ul>
        <li><a href="/signup">Sign Up</a></li>
        <li><a href="/login">Login</a></li>
    </ul>
</body>
</html>
